<!--<h3>Find By nombre-port</h3>-->
<!--<div style="width: 300px;">-->

<!--<div class="form-group">-->
<!--      <label for="nbre_port">nombre de ports</label>-->
<!--      <input type="text" class="form-control" id="nbre_port" required="" ngmodel="" nbre_port="" name="nbre_port">-->
<!--</div>-->

<!--<div class="btn-group">-->
<!--      <button type="submit" class="btn btn-success">Submit</button>-->
<!--</div>-->

<!--</div>-->
<!--<ul>-->
<!--   <li *ngFor="let equip of equips">-->
<!--<h4>{{equip.id}} - {{equip.nom}} {{equip.ip_add}}</h4>-->
<!--</li>-->
<!--</ul>-->
