<div class="container">
    <div class="title">
    <h1>equips Scheduler</h1>
    </div>
      <div class="col-lg-12 well">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left">Active equips Schedule</h4>
        </div>
        <div class="col-lg-12 ml-auto mr-auto">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">No.</th>
                        <th>nom</th>
                        <th>ip_address</th>
                        <th>mac_address</th>
                        <th>etat</th>
                        <th> Airport</th>
                        <th> switch</th>
                        <th>numero de port</th>
                        <th>nombre de port</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let equip of equips">
                      <th>{{equip.nom}}</th>
                      <th>{{equip.ip_add}}</th>
                         <th>{{equip.mac_add}}</th>
                         <td>{{equip.etat}}</td>
                         <td>{{equip.aeroport}}</td>
                         <td>{{equip.switch}}</td>
                         <td>{{equip.num_port}}</td>
                         <td>{{equip.nbre_port}}</td>
                         <td class="td-actions text-right">
                            <a type="button" class="btn btn-success btn-just-icon btn-sm "
                            style="margin-left:10px;">
                                <i class="material-icons">Edit</i>
                            </a>

                            <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="" style="margin-left:10px;">
                                <i class="material-icons">Delete</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="text-right">
                          <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-lg" data-original-title="" title="" style="margin-left:10px;" >
                              <i class="material-icons">Delete All</i>
                          </button>
                        </div>
                      </td>
                    </tr>
                </tbody>
            </table>
            </div>
     </div>
  </div>
  </div>
</div>

